# Repurposed from `https://github.com/alexpdp7/cmdocker/blob/master/.github/workflows/quickstart.yml#L73`.

name: Build binaries

on:
  push:
    branches: [release]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        target:
          - x86_64-unknown-linux-gnu
          - x86_64-unknown-linux-musl
          - x86_64-apple-darwin
          - aarch64-apple-darwin
    runs-on: ${{ contains(matrix.target, 'apple') && 'macos-latest' || 'ubuntu-latest' }}
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
        with:
          target: ${{ matrix.target }}
      - run: mkdir bin
      - run: cargo build --release --target ${{ matrix.target }} --out-dir bin
      - name: Upload binary
        uses: actions/upload-artifact@v5
        with:
          name: kn-${{ matrix.target }}
          path: bin/_kn
